.idea/
_old/
cache/
# modules/
/modules/
public/

.env
.envrc

*.bak
*.exe
*.log
*.log.*
*.sublime-project
*.sublime-workspace
*.vscode
examples/*_example
index.html
test
test.v
test.*
